.guests_rooms_overlay {width:180px; margin-top:5px; -webkit-touch-callout:none; -webkit-user-select:none; -khtml-user-select:none; -moz-user-select:none; -ms-user-select:none; user-select: none;}
.guests_rooms_overlay .ul .li {clear:both;}
.guests_rooms_overlay .line {padding: 10px 15px;line-height:22px; text-align: center; }
.guests_rooms_overlay .signButton {font-size:16px; display:inline; height:22px; width:22px; background-color: #f2f2f2;border: 1px solid #ccc;border-radius:5px;cursor:pointer;text-align:center;text-decoration:none;}
.guests_rooms_overlay .signButton.disabled {color:#999;background:#ccc}
.guests_rooms_overlay .minusButton {float:left;}
.guests_rooms_overlay .plusButton {float:right; font-size:14px; margin-left:10px;}
.guests_rooms_overlay .numberLabelText {display:inline; margin-left:10px;}
.guests_rooms_overlay .line.update {line-height:30px;}
.guests_rooms_overlay .updateButton {box-shadow:none;display:block;text-align:center;cursor:pointer;position:relative;border-radius:5px;text-decoration:none;font-weight:bold;}
.guests_rooms_overlay .updateButton:hover { background:#589442; }
.guests_rooms_overlay .updateButton .ui-btn-inner {display:block;position:relative;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.guests_rooms_overlay .updateButton .ui-btn-text {color: white;font-size:14px;}
